.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Creating Custom Checkbox */
input[type="checkbox"]{
  appearance: none;
  -webkit-appearance: none;
  height: 23px;
  width: 23px;
  border: 1px solid #CDCDCD;
  border-radius: 6px;
  cursor: pointer;
}
label{
  cursor: pointer;
}
input[type="checkbox"]:hover{
  background-image: url(https://i.postimg.cc/8cnmQZzH/Vector-141.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
}
input[type="checkbox"]:checked{
  background-color: #2469F6;
  background-image: url(https://i.postimg.cc/J0bHKKB0/Vector-141-1.png);
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #BDBDBD;
  background-size: 90%;
  
}
input[type="checkbox"]:checked:hover{
  background-color: #5087F8;
  
}